{% unless post %}{% assign post = collections.post | getCollectionItem %}{% endunless %}
<article>
  {%- if linkInTitle %}
  <h1><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
  {%- else -%}
  <h1>{{ post.data.title }}</h1>
  {%- endif -%}

  <section class="space-1999-information">
    <is-land on:media="(prefers-reduced-motion: no-preference)">
      <snow-fall style="--snow-fall-size: 5px">
      <img src="/img/{{ post.data.imageFile }}" alt="{{ post.data.imageAlt }}">
      </snow-fall>
    </is-land>
    <p>
      Season {{ space1999[post.data.episodeNumber].season }},
      Episode {{ space1999[post.data.episodeNumber].episode }}.<br>
      First broadcast on {{ space1999[post.data.episodeNumber].broadcastDate | readableDate }}.
    </section>
  </section>
  <p class="podcast-episode-information">
    {{ post.date | readableDate }} &middot; Episode {{ post.data.episodeNumber }}
  </p>

  {{ post.content }}
  <figure type="audio">
    <media-controller audio>
      <audio preload="none" slot="media">
        <source src="{% episodeUrl post.data.episodeFile %}" type="audio/mp3">
      </audio>
      <media-control-bar>
        <media-play-button></media-play-button>
        <media-time-display showduration></media-time-display>
        <media-time-range></media-time-range>
        <media-mute-button></media-mute-button>
        <media-volume-range></media-volume-range>
      </media-control-bar>
    </media-controller>
    <figcaption>
    <a download href="{% episodeUrl post.data.episodeFile %}">Download</a> &middot;
    <a target="_blank" href="{% episodeUrl post.data.episodeFile %}">Open in new window</a> &middot;
    Duration: {{ post.data.episodeDuration }} &middot;
    Recorded on {{ post.data.episodeRecordingDate | readableDate }}<br>
    Subscribe:&nbsp;&nbsp;
    {% for subscription in podcast.subscriptions %}
      {% if not forloop.first %} &middot;{% endif %} <a href="{{ subscription.url }}">{{ subscription.name }}</a>
    {% endfor %}
  </figure>
</article>
