{% unless post %}{% assign post = collections.podcastEpisode | getCollectionItem %}{% endunless %}
<article>
  {%- if linkInTitle %}
  <h1><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
  {%- else -%}
  <h1>{{ post.data.title }}</h1>
  {%- endif -%}

  <section class="space-1999-information">
    <img src="/img/{{ post.data.imageFile }}" alt="{{ post.data.imageAlt }}">
    <p>
      Season {{ space1999[post.data.episode.episodeNumber].season }},
      Episode {{ space1999[post.data.episode.episodeNumber].episode }}.<br>
      First broadcast on {{ space1999[post.data.episode.episodeNumber].broadcastDate | readableDate }}.
    </section>
  </section>
  <p class="podcast-episode-information">
    Episode {{ post.data.episode.episodeNumber }} &middot; {{ post.date | readableDate }}
  </p>

  {{ post.content }}
  <figure type="audio">
    <audio preload="none" data-preload="none" duration="{{ post.data.episode.duration }}">
      <source src="{{ post.data.episode.url }}" type="audio/mp3">
    </audio>
    <figcaption>
    <a download href="{{ post.data.episode.url }}">Download</a> &middot;
    <a target="_blank" href="{{ post.data.episode.url }}">Open in new window</a> &middot;
    Duration: {{ post.data.episode.duration | readableDuration }} &middot;
    Recorded on {{ post.data.episode.recordingDate | readableDate }}<br>
    Subscribe:&nbsp;&nbsp;
    {% for subscription in podcast.subscriptions %}
      {%- if not forloop.first %} &middot;{% endif -%}&nbsp;<a href="{{ subscription.url }}">{{ subscription.name }}</a>
    {% endfor -%}
  </figure>
</article>
