<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed/podcast" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/media-chrome@1/+esm"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <!-- add itunes store link here -->
    {%- render 'social-media-metadata.liquid', site: site, title: title, tags: tags, content: content -%}
  </head>
  <body>
    <p class="strapline">A <em>Space: 1999</em> commentary podcast from the makers of
      <a href="https://bondfinger.com"><em>Bondfinger</em></a>.</p>
    <header>
      <div class="header-content">
      <img src="/img/barbara.png">
      <h1 class="site-title">
        <a href="/"><small>startling</small></br>Barbara Bain</a>
      </h1>
      </div>
    </header>
    <nav class="main-navigation">
      <ul>
        <li>
          <a class="dropdown-trigger" href="#">Subscribe</a>
          <ul class="dropdown">
            {% for subscription in podcast.subscriptions %}
            <li><a href="{{ subscription.url }}">{{ subscription.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li><a href="/podcasts">Our podcasts</a></li>
      </ul>
    </nav>
    <main>
    {{ content }}
    </main>
    <footer>
      <p>© {% year %} FTE Studios. Website created by Nathan Bottomley.</p>
    </footer>
  </body>
</html>