<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">
    <script src="/js/dropdown-menu.js" type="module"></script>
    <script src="https://cdn.usefathom.com/script.js" data-site="OAYWAVMU" defer></script>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed/podcast" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.vidstack.io/player.css" />
    <link rel="stylesheet" href="https://cdn.vidstack.io/plyr.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="apple-itunes-app" content="app-id=1714034909">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#cfccc8">
{% include 'social-media-metadata.liquid' -%}
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    <p class="strapline">A <em>Space: 1999</em> commentary podcast from the makers of
      <a href="https://bondfinger.com"><em>Bondfinger</em></a>.</p>
    <header>
      <div class="header-content">
      <img eleventy:ignore src="/img/barbara.png" alt="Head shot of Barbara Bain from the title sequence of Series 1 of Space: 1999. She looks impossible to startle.">
      <h1 class="site-title">
        <a href="/"><small>startling</small></br>Barbara Bain</a>
      </h1>
      </div>
    </header>
    <nav class="main-navigation">
      <ul>
        <li>
          <dropdown-menu>
            <a role="button" href="#" class="dropdown-menu-toggle-button">Subscribe</a>
            <ul class="dropdown-menu">
              {% for subscription in podcast.subscriptions %}
              <li><a href="{{ subscription.url }}">{{ subscription.name }}</a></li>
              {% endfor %}
            </ul>
          </dropdown-menu>
        </li>
        <li><a href="/podcasts">Our podcasts</a></li>
      </ul>
    </nav>
    <main>
    {{ content }}
    </main>
    <footer>
      <p>{{ podcast.copyrightNotice }}. Website created by Nathan Bottomley.</p>
    </footer>
    <script type="module">
      import { Plyr } from 'https://cdn.vidstack.io/plyr'

      for (const audio of document.querySelectorAll('audio')) {
        const player = new Plyr(audio)
      }
    </script>
    <script src="https://tinylytics.app/embed/akwQjdcd9FjMn5YYPi6H.js" defer></script>
  </body>
</html>
